<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('res/css/foundation.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('res/css/style.css') }}">
            <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="header">
            <div class="logo"></div>
            <a class="logout" href="{{ path('logout') }}"></a>
        </div>
        <div class="row show-for-medium-down">
            <div class="small-12 small-centered columns ">
                {% include 'navigation-icons-only.html.twig' %}
            </div>
        </div>
        <div class="row main">
            <div class="row">

                <div class="small-2 columns show-for-large-up">
                    {% include 'navigation.html.twig' %}
                </div>
                <div class="small-12 large-9 medium columns">
                    {% include 'flash-messages.html.twig' %}

                    {% if app.user != null %}
                        <div class="profile-picture-container">
                            <h1 class="profile-picture-title">{% block headline %}{% endblock %}</h1>
                            <div class="profile-picture-hex">
                                <div class="maskborder profile-picture"></div>
                            </div>
                            <div class="long-hex"></div>
                            <div class="long-hex-after"></div>
                        </div>
                    {% endif %}

                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('res/js/vendor/jquery.js') }}"></script>
            <script src="{{ asset('res/js/vendor/modernizr.js') }}"></script>
            <script src="{{ asset('res/js/foundation.min.js') }}"></script>
            <script>
                $(document).foundation();
                $(document).ready(function() {

                    // handles hexagon classes if css mask is not supported
                    if ( document.body.style[ '-webkit-mask-repeat' ] !== undefined ) {
                        Modernizr.cssmasks = true;
                        $('.hex-list').addClass('cssmasks');
                    } else {
                        Modernizr.cssmasks = false;
                        $('.hex-list').addClass('no-cssmasks');
                    }

                    //make sidebar nav sticky if scrolled down
                    $(window).scroll(function() {
                        var height = $(window).scrollTop();
                        var headerHeight = $('.header').height();
                        if(height  > headerHeight) {
                            $('.nav').addClass('sticky');
                        }
                        if(height  < headerHeight) {
                            $('.nav').removeClass('sticky');
                        }
                    });

                    // sets Profile Picture if available
                    {% if app.user != null %}
                    var profilePicturePath = "{{ (profile_image_folder ~ app.user.profileImage) | imagine_filter('profile_image_thumb') }}";
                    if (profilePicturePath != null && profilePicturePath.length > 0) {
                        $('.profile-picture').css('background-image', 'url("{{ (profile_image_folder ~ app.user.profileImage) | imagine_filter('profile_image_thumb') }}")');
                    }
                    {% endif %}
                });

            </script>
        {% endblock %}
    </body>
</html>
