<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('res/css/foundation.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('res/css/style.css') }}">
            <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="header">
            <div class="logo"></div>
            <a class="logout" href="{{ path('logout') }}"></a>
        </div>
        <div class="row show-for-medium-down">
            <div class="small-12 small-centered columns ">
                {% include 'navigation-icons-only.html.twig' %}
            </div>
        </div>
        <div class="row main">
            {% include 'flash-messages.html.twig' %}
            <div class="row">
                <div class="small-2 columns show-for-large-up">
                    {% include 'navigation.html.twig' %}
                </div>
                <div class="small-12 large-10 medium columns">
                    {% block headline %}{% endblock %}
                    <div class="headline-margin"></div>
                    <div class="main-padding">
                        {% block body %}{% endblock %}
                    </div>

                </div>
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('res/js/vendor/jquery.js') }}"></script>
            <script src="{{ asset('res/js/vendor/modernizr.js') }}"></script>
            <script src="{{ asset('res/js/foundation.min.js') }}"></script>
            <script>
                $(document).foundation();
                $(document).ready(function() {

                    // handles hexagon classes if css mask is not supported
                    if ( document.body.style[ '-webkit-mask-repeat' ] !== undefined ) {
                        Modernizr.cssmasks = true;
                    } else {
                        Modernizr.cssmasks = false;
                        $('body').addClass('no-cssmasks');
                    }

                    //make sidebar nav sticky if scrolled down
                    $(window).scroll(function() {
                        var height = $(window).scrollTop();
                        var headerHeight = $('.header').height();
                        if(height  > headerHeight) {
                            $('.nav').addClass('sticky');
                        }
                        if(height  < headerHeight) {
                            $('.nav').removeClass('sticky');
                        }
                    });

                    //if flash message is visible, it's will be faded out and removed
                    $(".alert-box").delay(3000).fadeOut(300, function() { $(this).remove(); });
                });
            </script>
        {% endblock %}
    </body>
</html>
