<div class="nav icons-only">
    <div><a href="{{ path('newsfeed') }}"><div class="nav-item news-icon"></div></a></div>
    <div><a href="{{ path('profile') }}"><div class="nav-item profile-icon"></div></a></div>
    <div><a href="{{ path('my_friends') }}"><div class="nav-item friends-icon"></div></a></div>
    <div><a href="{{ path('newsfeed') }}"><div class="nav-item messages-icon"></div></a></div>
    <div><a href="{{ path('my_things') }}"><div class="nav-item devices-icon"></div></a></div>
    <div><a href="{{ path('settings') }}"><div class="nav-item account-icon"></div></a></div>
</div>