<ul>
    <li><a href="{{ path('newsfeed') }}"><div class="nav-item news-icon">Neuigkeiten</div></a></li>
    <li><a href="{{ path('newsfeed') }}"><div class="nav-item profile-icon">Profil</div></a></li>
    <li><a href="{{ path('my_friends') }}"><div class="nav-item friends-icon">Freunde</div></a></li>
    <li><a href="{{ path('newsfeed') }}"><div class="nav-item messages-icon">Nachrichten</div></a></li>
    <li><a href="{{ path('my_things') }}"><div class="nav-item devices-icon">Gegenstände</div></a></li>
    <li><a href="{{ path('newsfeed') }}"><div class="nav-item account-icon">Konto</div></a></li>
</ul>