<ul class="nav">
    <li><a href="{{ path('newsfeed') }}"><div class="nav-item news-icon">{% trans %}navigation.newsfeed{% endtrans %}</div></a></li>
    {#<li><a href="{{ path('profile') }}"><div class="nav-item profile-icon">{% trans %}navigation.profile{% endtrans %}</div></a></li>#}
    <li><a href="{{ path('my_friends') }}"><div class="nav-item friends-icon">{% trans %}navigation.friends{% endtrans %}</div></a></li>
    <li><a href="{{ path('conversations') }}"><div class="nav-item messages-icon">{% trans %}navigation.messages{% endtrans %}</div></a></li>
    <li><a href="{{ path('my_things') }}"><div class="nav-item devices-icon">{% trans %}navigation.things{% endtrans %}</div></a></li>
    <li><a href="{{ path('settings') }}"><div class="nav-item account-icon">{% trans %}navigation.account{% endtrans %}</div></a></li>
</ul>