{# Shows the logged in user's things #}

{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Frontend:things{% endblock %}

{% block headline %}
    <div class="profile-picture-container flex-row">
        <h1 class="profile-picture-title">
            {% trans %}user.thing.title{% endtrans %}
        </h1>
        <div class="hex small flex-left">
            <img class="maskborder" src="{{ (profile_image_folder ~ app.user.profileImage|default('person-inverted.jpg')) | imagine_filter('profile_image_thumb_small') }}"/>
        </div>
        <div class="long-hex flex-center"></div>
        <div class="long-hex-after flex-right"></div>
    </div>
{% endblock %}

{% block body %}

    <form action="{{ path('register_thing') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit"  value="Register Thing" />
    </form>

    <h2>{% trans %}Things lent to me{% endtrans %}</h2>
    {{ render(controller("SwotNetworkBundle:Rental:showThingsLent")) }}
    
    <h2>Things lent to other users</h2>
    {{ render(controller("SwotNetworkBundle:Rental:showThingsRent")) }}

    <h2>{% trans %}user.thing.alreadyknow{% endtrans %}</h2>
    <div class="hex-list small">
        {% for thing in publicthings %}
            {% include 'SwotNetworkBundle:Thing:listEntry.html.twig' with {thing: thing, showOwner: true} %}
        {% endfor %}
    </div>
{% endblock %}
