{# Shows the logged in user's things #}

{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Frontend:things{% endblock %}

{% block headline %}
    <div class="profile-picture-container flex-row">
        <h1 class="profile-picture-title">
            {% trans %}user.thing.title{% endtrans %}
        </h1>
        <div class="hex small flex-left">
            <img class="maskborder" src="{{ (profile_image_folder ~ app.user.profileImage|default('person-inverted.jpg')) | imagine_filter('profile_image_thumb_small') }}"/>
        </div>
        <div class="long-hex flex-center"></div>
        <div class="long-hex-after flex-right"></div>
    </div>
    <ul class="button-top-bar">
        <li>
            <button class="primary secondary" style="font-weight: bold;" id="registerThingBtn">Register Thing</button>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <form action="{{ path('register_thing') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
    </form>
    <div id="submitModal" class="reveal-modal" data-reveal data-options="close_on_background_click:false">
        <h2 id="modalTitle">Thing is being added...</h2>
        <p class="lead">This may take a while...</p>
    </div>

    {% if app.user.ownerships|length > 0 %}
        <div class="hex-list small">
        {% for ownership in app.user.ownerships %}
                {% include 'SwotNetworkBundle:Thing:listEntry.html.twig' with {thing: ownership.thing, showOwner: false} %}
        {% endfor %}
        </div>
    {% else %}
        <h2>{% trans %}user.thing.no_things{% endtrans %}</h2>
    {% endif %}
    {{ render(controller("SwotNetworkBundle:Rental:showThingsLent")) }}
    {{ render(controller("SwotNetworkBundle:Rental:showThingsRent")) }}
    {{ render(controller("SwotNetworkBundle:Frontend:showRandomPublicThings")) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            $('#form').hide();
            $('#registerThingBtn').click(function(e) {
                $('#form_register').click();
                e.preventDefault();
            });
            $('#form_register').change(function() {
                $('form').submit();
            });
            $('form').submit(function(){
                $('#submitModal').foundation('reveal', 'open');
            });
        });
    </script>
{% endblock %}
