{# Shows the logged in user's things #}

{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Frontend:things{% endblock %}

{% block headline %}
    <div class="profile-picture-container flex-row">
        <h1 class="profile-picture-title">
            {% trans %}user.thing.title{% endtrans %}
        </h1>
        <div class="hex small flex-left">
            <img class="maskborder" src="
                    {{ (profile_image_folder ~ app.user.profileImage) | imagine_filter('profile_image_thumb')|default('http://localhost/swot/web/res/gfx/person.jpg') }}"
                    />
        </div>
        <div class="long-hex flex-center"></div>
        <div class="long-hex-after flex-right"></div>
    </div>
{% endblock %}

{% block body %}

    {# Flash messages #}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {# <a href="{{ path('register_thing') }}">Register new thing</a> #}

    <form action="{{ path('register_thing') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit"  value="Register Thing" />
    </form>

    {% include 'SwotNetworkBundle:Thing:list.html.twig' with {user: app.user} %}
{% endblock %}
