{# Index page when logged in #}

{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Frontend:newsfeed{% endblock %}

{% block body %}

    <ul>
        <li><a href="{{ path('logout') }}">logout</a></li>
    </ul>

    <ul>
        <li><a href="{{ path('newsfeed') }}">Freunde finden</a></li>
        <li><a href="{{ path('my_friends') }}">Freunde anzeigen</a></li>
        <li><a href="{{ path('newsfeed') }}">Nachrichten</a></li>
        <li><a href="{{ path('newsfeed') }}">Gegenstände anzeigen</a></li>
        <li><a href="{{ path('newsfeed') }}">Gegenstände hinzufügen</a></li>
    </ul>

<h1>Welcome to the Frontend:newsfeed page</h1>
{% endblock %}
