{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Friend:show{% endblock %}

{% block headline %}
        <div class="profile-picture-container flex-row">
            <h1 class="profile-picture-title">
                {% if user != app.user %}
                    {{ user.firstname }} {{ user.lastname }}
                {% else %}
                    {% trans %}user.profile.title{% endtrans %}
                {% endif %}
            </h1>
            <div class="small-hex flex-left">
                <img class="maskborder" src="
                    {{ (profile_image_folder ~ user.profileImage) | imagine_filter('profile_image_thumb')|default('http://localhost/swot/web/res/gfx/person-inverted.jpg') }}"
                />
            </div>
            <div class="long-hex flex-center"></div>
            <div class="long-hex-after flex-right"></div>
        </div>
{% endblock %}

{% block body %}

    {#
    Show break up form only if the current profile is not the user's profile
    --> User cannot break up with himself

    Also hide if user has not the friend rights.
    #}
    {% if user != app.user %}
        {% if is_granted('friend', user) %}
            {{ form(breakUpForm) }}
            <a href="{{ path('new_conversation', {id: user.id}) }}">send message</a>
        {% else %}
            {{ form(sendInviteForm) }}
        {% endif %}
    {% endif %}
    <br/>
    {{ user.username }}
{% endblock %}


