{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Friend:show{% endblock %}

{% block headline %}
    <div class="profile-picture-container flex-row">
        <h1 class="profile-picture-title">
            {% if user != app.user %}
                {{ user.username }}
            {% else %}
                {% trans %}user.profile.title{% endtrans %}
            {% endif %}
        </h1>
        <div class="hex small flex-left">
            <img class="maskborder" src="{{ (profile_image_folder ~ user.profileImage|default('person-inverted.jpg')) | imagine_filter('profile_image_thumb_small') }}"/>
        </div>
        <div class="long-hex flex-center"></div>
        <div class="long-hex-after flex-right"></div>
    </div>
    <div class="thing-detail meta-info">
        <div>{% trans %}common.registered_since{% endtrans %}: {{ user.registeredDate.date|date("Y-m-d") }}</div>
    </div>

    {#
    Show break up form only if the current profile is not the user's profile
    --> User cannot break up with himself

    Also hide if user has not the friend rights.
    #}
    {% if user != app.user %}
    <ul class="button-top-bar">
        {% if is_granted('friend', user) %}
            <li><a class="button secondary" href="{{ path('new_conversation', {id: user.id}) }}">{% trans %}conversations.new.link_title{% endtrans %}</a></li>
            <li>{{ form(breakUpForm) }}</li>
        {% else %}
            <li>{{ form(sendInviteForm) }}</li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_granted('show', user) %}
        <div class="attributes">
            {% if user.gender == "m" %}<div class="gender-m">{% endif %}
            {% if user.gender == "f" %}<div class="gender-f">{% endif %}
            {{ user.firstname }} {{ user.lastname }}</div>
            <div class="birthdate">{{ user.birthdate.date|date('Y-m-d') }}</div>
            <div class="access">{{ user.accessLevel }}</div>
        </div>

        {# Show the users things if allowed #}
        {% if user != app.user %}
            <h2 id="thingsHeadline">{{ user.username }}'s {% trans %}user.thing.friend_title{% endtrans %}</h2>
            <h2 id="noThingsHeadline">{% trans %}user.thing.friend_no_things{% endtrans %}</h2>
        {% endif %}
        {% if user.ownerships|length > 0 %}
            <div class="hex-list small" id="thinglist">
                {% for ownership in user.ownerships %}
                    {% if is_granted("access", ownership.thing) %}
                        {% include 'SwotNetworkBundle:Thing:listEntry.html.twig' with {thing: ownership.thing, showOwner: false} %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {{ render(controller("SwotNetworkBundle:Friend:showFriendList", {'userId': user.id})) }}
    {% endif %}
    <div id="confirmationModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <p class="lead">{% trans %}confirmation_question{% endtrans %}</p>
        <button id="confirmDeleteBtn" class="alert">Accept</button>
        <button id="closeModalBtn">Decline</button>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            (function() {
                /**
                 * Shows no things headline if there are no news
                 */
                $('#noThingsHeadline').hide();
                var switchHeadline = function() {
                    if ($('#thinglist').children('.hex').length > 0) {
                        $('#thingsHeadline').show();
                        $('#noThingsHeadline').hide();
                    } else {
                        $('#thingsHeadline').hide();
                        $('#noThingsHeadline').show();
                    }
                };
                switchHeadline();

                /*
                 * handles break up confirmation moda
                 */
                var flag = true;
                $('form').submit(function() {
                    if ($(this).attr('action').indexOf('remove') < 0) return true;

                    if (flag) $('#confirmationModal').foundation('reveal', 'open');
                    else return true;

                    return false;
                });

                $('#confirmDeleteBtn').click(function() {
                    flag = false;
                    $('form').submit();
                });
                $('#closeModalBtn').click(function() {
                    $('#confirmationModal').foundation('reveal', 'close');
                });
            }());
        });
    </script>
{% endblock %}
