{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Friend:show{% endblock %}

{% block headline %}
        <div class="profile-picture-container">
            <h1 class="profile-picture-title">
                {% if user != app.user %}
                    {{ user.firstname }} {{ user.lastname }}
                {% else %}
                    {% trans %}user.profile.title{% endtrans %}
                {% endif %}
            </h1>
            <div class="profile-picture-hex">
                <div class="maskborder profile-picture"></div>
            </div>
            <div class="long-hex"></div>
            <div class="long-hex-after"></div>
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('.profile-picture').setHeadlinePicture("{{ (profile_image_folder ~ user.profileImage) | imagine_filter('profile_image_thumb') }}");
    </script>
{% endblock %}

{% block body %}

    {#
    Show break up form only if the current profile is not the user's profile
    --> User cannot break up with himself

    Also hide if user has not the friend rights.
    #}
    {% if user != app.user %}
        {% if is_granted('friend', user) %}
            {{ form(breakUpForm) }}
            <a href="{{ path('new_conversation', {id: user.id}) }}">send message</a>
        {% else %}
            {{ form(sendInviteForm) }}
        {% endif %}
    {% endif %}
    <br/>
    {{ user.username }}
{% endblock %}


