{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Friend:show{% endblock %}

{% block headline %}
    <div class="profile-picture-container flex-row">
        <h1 class="profile-picture-title">
            {% if user != app.user %}
                {{ user.username }}
            {% else %}
                {% trans %}user.profile.title{% endtrans %}
            {% endif %}
        </h1>
        <div class="hex small flex-left">
            <img class="maskborder" src="{{ (profile_image_folder ~ user.profileImage|default('person-inverted.jpg')) | imagine_filter('profile_image_thumb_small') }}"/>
        </div>
        <div class="long-hex flex-center"></div>
        <div class="long-hex-after flex-right"></div>
    </div>
    <div class="thing-detail meta-info">
        <div>{% trans %}common.registered_since{% endtrans %}: {{ user.registeredDate.date }}</div>
    </div>

    {#
    Show break up form only if the current profile is not the user's profile
    --> User cannot break up with himself

    Also hide if user has not the friend rights.
    #}
    {% if user != app.user %}
    <ul class="button-top-bar">
        {% if is_granted('friend', user) %}
            <li><a class="button secondary" href="{{ path('new_conversation', {id: user.id}) }}">{% trans %}conversations.new.link_title{% endtrans %}</a></li>
            <li>{{ form(breakUpForm) }}</li>
        {% else %}
            <li>{{ form(sendInviteForm) }}</li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="hex-list normal">
        <div class="hex">
            <div class="hex-item"><div class="hex-item-inner">{{ user.firstname }}<br />{{ user.lastname }}</div></div>
            <img class="maskborder opac" src="{{ asset('res/gfx/person.jpg') }}"/>
        </div>
        <div class="hex">
            <div class="hex-item"><div class="hex-item-inner">{{ user.birthdate.date }}</div></div>
            <img class="maskborder opac" src="{{ asset('res/gfx/cake.png') }}"/>
        </div>
        <div class="hex">
            <img class="maskborder opac" src=
                    {% if user.gender == "m" %}"{{ asset('res/gfx/gender-male.png') }}"{% endif %}
                    {% if user.gender == "f" %}"{{ asset('res/gfx/gender-female.png') }}"{% endif %}
                />
        </div>
        <div class="hex">
            <div class="hex-item"><div class="hex-item-inner">Access: <br />{{ user.accessLevel }}</div></div>
            <img class="maskborder opac" src="{{ asset('res/gfx/security.png') }}"/>
        </div>
    {% if user == app.user %}
        <a class="hex" href="{{ path('my_friends', {user: user}) }}">
            <div class="hex-item"><div class="hex-item-inner">{% trans %}navigation.friends{% endtrans %}</div></div>
            <img class="maskborder opac" src="{{ asset('res/gfx/account-multiple-big.png') }}">
        </a>
        <a class="hex" href="{{ path('my_things', {user: user}) }}">
            <div class="hex-item"><div class="hex-item-inner">{% trans %}navigation.things{% endtrans %}</div></div>
            <img class="maskborder opac" src="{{ asset('res/gfx/thing.jpg') }}">
        </a>
        <a class="hex" href="{{ path('conversations', {user: user}) }}">
            <div class="hex-item"><div class="hex-item-inner">{% trans %}navigation.messages{% endtrans %}</div></div>
            <img class="maskborder opac" src="{{ asset('res/gfx/comment-big.png') }}">
        </a>
    </div>
    {% else %}
        </div>
        {% if user == app.user %}
            {% include 'SwotNetworkBundle:Thing:list.html.twig' with {user: user} %}
        {% endif %}

        {# Show the users things if allowed #}
        {% if user.ownerships|length > 0 %}
            {% if user != app.user %}
                <h2>{{ user.username }}'s {% trans %}user.thing.friend_title{% endtrans %}</h2>
            {% endif %}
            <div class="hex-list small">
                {% for ownership in user.ownerships %}
                    {% if is_granted("access", ownership.thing) %}
                        {% include 'SwotNetworkBundle:Thing:listEntry.html.twig' with {thing: ownership.thing} %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% include 'SwotNetworkBundle:Friend:list.html.twig' with {user: user} %}
    {% endif %}
    
{% endblock %}


