{# Shows all messages between the current user and one of his friends. #}

{% extends "::base.html.twig" %}
{% set partner_username = partner.username %}

{% block title %}
    {% trans with {'%username%': partner.username}%}conversation.page_title %username%{% endtrans %}
{% endblock %}

{% block body %}
    <div class="conversation-container">
        {# Render messages #}
        {{ render(controller("SwotNetworkBundle:Message:messagesInConversationSince", { id: conversation.id, since: 0 })) }}
    </div>
    <form action="{{ path('conversation', {id: conversation.id}) }}" method="post" {{ form_enctype(messageForm) }}>
        {{ form_widget(messageForm) }}

        <button type="submit">send</button>
    </form>
{% endblock %}
{% block jscode %}
    {{ parent() }}
    var gapSpace = 306;

    adjustHeight = function() {
        var container = $('.conversation-container');
        container
            .css('max-height', $(window).height() - gapSpace)
            .scrollTop(container.prop('scrollHeight'));
    }

    adjustHeight();
    $( window ).resize(function() {
        adjustHeight();
    });
{% endblock %}