{# Shows all conversations where the current user is involved #}

{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}conversations.page_title{% endtrans %}
{% endblock %}

{% block body %}

    <div>
        <a class="button secondary" href="{{ path('new_message') }}">
            {% trans %}conversations.new.link_title{% endtrans %}
        </a>
    </div>

    {% for conversation in conversations %}
        {% if conversation.messages|length > 0 %}
            {% set partner = (conversation.messages|last).otherUser(app.user) %}
            <div class="flex-row ">
                <div class="flex-left conversations-picture">
                    <a href="{{ path('friend_show', {id: partner.id}) }}">
                        <div class="hex tiny">
                            <img class="maskborder" src="{{ (profile_image_folder ~ friend.profileImage|default('person.jpg')) | imagine_filter('profile_image_thumb_tiny') }}"/>
                        </div>
                    </a>
                </div>
                <div class="flex-center conversations-content">
                    <a href="{{ path('conversation', {id: conversation.id}) }}">
                        {{ partner.username }}
                    </a>
                </div>
                <div class="flex-right conversations-date">
                    <div class="meta-info">from: {{ conversation.updated|date }}</div>
                </div>
            </div>
            <hr/>
        {% endif %}
    {% endfor %}
{% endblock %}
