<div id="modal-function-{{ function.id }}" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    {% set functionForm = functionForms[function.id] %}
    <li>
        {#<form action="{{ path('thing_activate_function', {id: thing.id, functionId: function.id}) }}" method="post" novalidate="novalidate" name="{{ function.id }}">#}
        <form action="{{ path('thing_show', {id: thing.id}) }}" method="post" novalidate="novalidate" name="{{ function.id }}">

            {% set form = functionForm.createView() %}
            {% form_theme form 'SwotNetworkBundle:Form:form_div_layout.html.twig' %}

            {{ form_widget(form) }}

            <input type="hidden" name="_fid" value="{{ function.id }}"/>

            <button type="submit">activate</button>
        </form>
    </li>
</div>

