{% extends "::base.html.twig" %}

{% block title %}Settings for {{ thing.name }}{% endblock %}

{% block body %}

    <h2>Settings for {{ thing.name }}</h2>

    <form action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <button type="submit">save</button>
    </form>

    <div id="rentals">
        {% if thing.rentals | length > 0 %}
            <h3>Thing is lent to:</h3>
        {% endif %}
        {{ render(controller("SwotNetworkBundle:Rental:list", {thingid: thing.id})) }}
    </div>

    <p>
        TODO:
        <ul>
            <li>Verleihungen beenden</li>
            <li>Gerät verleihen</li>
        </ul>
    </p>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            // Fetch click on quit rental button.
            // Prevent default form submit and submit via ajax delete.
            // @todo: place in external script
            $("#rentals form button[type='submit']").click(function(e) {
                e.preventDefault();
                var $form = $(e.target).closest("form");
                $.ajax({
                    url: $form.attr("action"),
                    method: "DELETE",
                    data: $form.serialize()
                }).success(function(data) {
                    $(e.target).closest(".rental").fadeOut("fast");
                });
            });
        });
    </script>
{% endblock %}