{% extends "::base.html.twig" %}

{% block title %}SwotNetworkBundle:Frontend:newsfeed{% endblock %}

{% block headline %}
    <div class="profile-picture-container">
        <h1 class="profile-picture-title">
            {{ thing.name }}
        </h1>
        <div class="profile-picture-hex">
            <div class="maskborder profile-picture"></div>
        </div>
        <div class="long-hex"></div>
        <div class="long-hex-after"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('.profile-picture').setHeadlinePicture("{{ (profile_image_folder ~ thing.profileImage) | imagine_filter('profile_image_thumb') }}", true);
    </script>
{% endblock %}

{% block body %}

    <h1>Name: {{ thing.name }}</h1>
    <h2>Owner: {{ thing.ownership.owner.username }}</h2>
    <h2>Classification: {{ status.device.classification }}</h2>

    {{ dump(thing) }}

    <ul>
        {% for function in thing.functions %}
            {% set functionForm = functionForms[function.id] %}
            <li>
                {#<form action="{{ path('thing_activate_function', {id: thing.id, functionId: function.id}) }}" method="post" novalidate="novalidate" name="{{ function.id }}">#}
                <form action="{{ path('thing_show', {id: thing.id}) }}" method="post" novalidate="novalidate" name="{{ function.id }}">
                    {{ form_widget(functionForm.createView()) }}

                    <input type="hidden" name="_fid" value="{{ function.id }}"/>

                    <button type="submit">activate</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    {% if is_granted('admin', thing) %}
        {{ form(delete_form) }}

        <a href="{{ path('thing_settings', {id: thing.id}) }}" class="button primary">Settings</a>
        <a href="{{ path('thing_lend', {id: thing.id}) }}" class="button primary">Lend</a>
    {% endif %}

    {% for message in messages %}
        {{ message.sent|date }} <br/>
        {{ message.message }}
        <hr/>
    {% endfor %}

{% endblock %}